* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    width: 500px;
    height: 656px;
    text-align: center;
    line-height: 100px;
}

input,button {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 12px 14px;
    display: inline-block;
}

button {
    background-color: #46A358;
    color: #ffffff;
    cursor: pointer;
}