body {
	padding-top: 30px;
}

.container {
	width: 1200px;
	height: 53px;
	background-color: #fafafa;
	margin: 0 auto;
	border-bottom: 1px solid #46A35880;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1px;
}

.header__logo img {
	max-width: 150px;
}

.header__nav a {
	font-size: 16px;
	color: #3D3D3D;
	font-weight: 400;
}

.header__nav a:hover {
	border-bottom: 4px solid #46A358;
	padding-bottom: 22px;
	width: 45px;
	font-weight: bold;
}

.header__nav ul {
	display: flex;
	gap: 50px;
}

.header__btn {
	width: 100px;
	height: 35px;
	background-color: #46A358;
	color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1px;
	padding: 8px 7px 7px 15px;
}

.header__btn img {
	width: 20px;
	height: 20px;
}

.btn:hover {
	background-color: #36d755;
}

.header__btn a {
	font-size: 16px;
	color: #FFFFFF;
}

.container__hidden {
	height: 450px;
	border: none;
	padding: 20px;
}

.about__banner {
	margin-top: 45px;
	display: flex;
	justify-content: space-evenly;
	align-items: end;
}

.about__banner-left {
	width: 693px;
	margin-bottom: 51px;
}

.about__banner-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
	text-transform: uppercase;
}

.about__banner-heading {
	font-weight: 900;
	font-size: 70px;
	line-height: 70px;
	text-transform: uppercase;
	padding: 7px 0 5px 0;
}

.about__banner-text2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 44px;
}

.about__banner-heading span {
	color: #46A358;
}

.about__banner-btn {
	width: 140px;
	height: 40px;
	padding: 11px 27px 9px 23px;
	background-color: #46A358;
	border-radius: 10px;
}

.about__banner-btn a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
}

.about__banner-ring {
	width: 407px;
	display: flex;
	justify-content: end;
	align-items: flex-end;
}

.about__banner-ring-img {
	width: 135px;
	height: 135px;
	margin-right: -146px;
	align-self: self-end;
	padding-bottom: 10px;
}

.about__banner-ring-img1 {
	width: 435px;
	height: 371px;
}
